/* Background color of webpage */
body{
  background-image: url("../images/asphalt-bg.jpg");
  background-color: #191919;
  font-family:Arial, Helvetica, sans-serif;
}


/* NAVBAR CSS */

/* Carbon Fiber Design */
.navbar, .dropdown-menu, .bike-header, #footer{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  }

/* Color of navbar links and all appropriate site text */
.nav-link, .dropdown-item, .text-content{
  color: #FAF9F6 !important;
}

/* Setting margins and lineheight of all appropriate text content */
p.text-content, h3.text-content, h5.text-content, h4.text-content{
  margin: 2% 15%;
  line-height: .75cm;
}


/* text-content on bike pages #FAF9F6 */
.bike-text{
  color: whitesmoke;
  line-height: .75cm;
}

/* Hover color of navbar links */
.nav-link:hover, .dropdown-item:hover{
  color: #5b7e96 !important;
  background-color: transparent !important;
}

.dropdown:hover .nav-dropdown{
  display: inline-block; 
  margin-top: 10;
}

.padded{
  padding-right: 10%;
}