/* Background color of webpage */
body{
  background-color: #202020;
}


/* NAVBAR CSS */

/* Carbon Fiber Design */
.navbar, .dropdown-menu{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  }

/* Color of navbar links and all appropriate site text */
.nav-link, .dropdown-item, .text-content{
  color: #FAF9F6 !important;
}

/* Hover color of navbar links */
.nav-link:hover, .dropdown-item:hover{
  color: #5b7e96 !important;
  background-color: transparent !important;
}

/* Green navbar seperation lines */
@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #71984a;
  }
}
